.info {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.photo-card img {
  background-color: #ffffff;
  padding-bottom: 5px;
  width: 300px;
  transition: box-shadow 0.15s linear;
  display: block;
  object-fit: cover;
}

.gallery a {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  color: rgb(49, 71, 138);
  text-decoration: none;
  transition: transform 0.25s linear, box-shadow 0.25s linear;
  box-shadow: 0 1px 1px rgb(49 71 138 / 20%), 0 4px 4px rgb(49 71 138 / 25%),
    1px 4px 6px rgb(49 71 138 / 20%);
}

.gallery a:hover {
  transform: scale(1.05);
  transition: transform 500ms;
  box-shadow: 0 1px 1px rgb(49 71 138 / 40%), 0 4px 8px rgb(49 71 138 / 50%),
    1px 4px 8px rgb(49 71 138 / 40%);
}
